name: Release Artifacts

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  parse:
    name: Parse tag
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.variables.outputs.NEW_TAG }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Get tags
        run: git fetch --tags origin
      - name: Set variables
        id: variables
        run: |
          APPID="io.github.mactan_sc.RSILauncher"
          LAST_TAG=$(git describe --tags $(git rev-list --tags --max-count=1))
          MAJOR=$(echo "$LAST_TAG" | cut -d. -f1)
          MINOR=$(echo "$LAST_TAG" | cut -d. -f2)
          PATCH=$(echo "$LAST_TAG" | cut -d. -f3)
          NEW_VERSION="$MAJOR.$MINOR.$((PATCH+1))"
          echo "NEW_TAG=$NEW_VERSION" >> $GITHUB_OUTPUT
  build:
    uses: mactan-sc/rsi-maintenance/.github/workflows/build-artifacts.yml@main
  release:
    runs-on: ubuntu-latest
    needs: [parse, build]
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./out
          merge-multiple: true
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.parse.outputs.new_tag }}
          files: |
            ./out/*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
